.SingleView {
  height: 100vh;
  min-width: 375px;
  max-width: 70vw;
  position: fixed;
  right: 0;
  top: 0;
  border: black 3px dashed;

  @media screen and (max-width: 425px) {
    width: 100vw;
    max-width: unset;
  }
}
