@import "../../globals.scss";

.SingleView {
  height: 100vh;
  width: calc(50vw - $padding-sm);
  position: fixed;
  right: 0;
  top: 0;
  background-color: grey;
  transform: translateX(50vw);
  transition: transform $transition-duration $transition-timing;
  color: white;
  overflow-y: scroll;
  z-index: 200;
  @include backgroundColor();
  box-shadow: grey 1px 1px 5px -1px;
  color: $color-black;

  @media screen and (max-width: 1024px) {
    width: 70vw;
    max-width: unset;
    transform: translateX(70vw);
  }

  @media screen and (max-width: 768px) {
    overflow-x: scroll;
    width: 100vw;
    max-width: unset;
    transform: translateX(100vw);
  }

  header {
    display: flex;
    align-items: center;

    h1 {
      padding: 0px 0px 7px 15px;
    }
  }

  .btn-close {
    all: unset;
    cursor: pointer;
    font-size: 32px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $padding-sm;
  }

  .metadata {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .readme {
    text-align: left;
  }

  &.show {
    transform: translateX(0vw);
  }
}
