@import "../../globals.scss";
$nav-height: 50px;
$footer-height: 100px;

.App {
  text-align: center;
  padding-top: calc($nav-height + $padding-sm);
  height: calc(100vh + $footer-height);
}

nav,
footer {
  @include backgroundColor();
  width: 100vw;
  text-align: center;
}

nav {
  height: $nav-height;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  @include border($trbl: "bottom");
  box-shadow: grey 1px 1px 5px -1px;
  text-align: left;
  padding: 0 0 5px $padding-sm;
  color: $color-black;
}

footer {
  height: $footer-height;
}
