.Filter {
  height: 100vh;
  width: 30vw;
  position: fixed;
  left: 0;
  top: 0;
  border: black 3px dashed;
  transform: translateX(-30vw);
  transition: transform 250ms ease-in-out;

  &.open {
    transform: translateX(0vw);
  }

  @media screen and (max-width: 425px) {
    width: 100vw;
    max-width: unset;
    transform: translateX(-30vw);
  }
}
