@import "../../globals.scss";

.ListView {
  margin: 0 auto;
  width: 50vw;
  max-width: 768px;
  min-width: 500px;
  margin-top: 50px;
  background-color: lightcoral;
  border-radius: 5px;
  min-height: calc(2 * $padding-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }

  .inner {
    position: relative;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }

  &.empty > .inner::after {
    content: "Search for some repos!";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
  }

  tr {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
    justify-items: start;
    width: 100%;
    padding: 0 $padding-sm;
    cursor: pointer;
    background-color: lightcoral;
    transition: filter 150ms ease;

    &:hover {
      filter: brightness(1.2);
    }
  }

  .pagination {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    padding: 1px;

    button {
      margin: 0 10px;
    }
  }
}
